<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<title>Software developer | Hoc Dang</title>
		<meta name="title" content="Software developer | Hoc Dang">
		<meta name="keywords" content="Hoc Dang, Học Đặng, hoc dang, học đặng, HocDang, hocdang, dang nguyen hoc, Đặng Nguyên Học, đặng nguyên học, Hoc Dang Software developer, Hoc Dang Developer">
		<meta name="description" content="My name is Hoc Dang, this is Resume where I give my life for you." />
		<meta name="author" content="Hoc Dang" />
		<meta name="copyright" content="Copyright © 2017">
		<meta content='IE=9' http-equiv='X-UA-Compatible' />
		<meta name='robots' content='INDEX, FOLLOW' />
		<meta name='googlebot' content='INDEX, FOLLOW' />
		<meta name='rating' content='general' />
		<meta property="og:image" content="{{ .url }}/public/assets/maintenance/img/thumbnail.png" />
		<meta property="og:title" content="Software developer | Hoc Dang" />
		<meta property="og:url" content="{{ .url }}" />
		<meta property="og:description" content="My name is Hoc Dang, this is Resume where I give my life for you." />
		<meta property="og:type" content="website" />
		<link rel="canonical" href="{{ .url }}" />
		<link rel='icon' type='image/x-icon' href='{{ .url }}/public/assets/maintenance/img/hoc-dang.jpg' />
		<link href="{{ .url }}/public/assets/maintenance/sass/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="about text-center">
				<h3 class="about__name"> Hoc Dang</h3>
				<p class="about__position">I'm software developer</p>
				<img class="about__img" src="{{ .url }}/public/assets/maintenance/img/hoc-dang.jpg">
			</div>
		</div>
		<div class="container">
			<div class="contact-info text-center">
				<a href="skype:live:dangnguyenhoc?chat" class="contact-info__item contact-info--skype" title="Skype">
					<img src="{{ .url }}/public/assets/maintenance/img/icon/skype.svg" width="30" height="30">
				</a>
				<a href="mailto:contact@hocdang.com" class="contact-info__item contact-info--email" title="contact@hocdang.com">
					<img src="{{ .url }}/public/assets/maintenance/img/icon/email.svg" width="30" height="30">
				</a>
			</div>
		</div>
	</body>
</html>
